<?xml version="1.0"?>
  <config>
  <default>
    <easysize_section>
        <easysize_group>
            <size_field>size</size_field>   
            <gender_field>gender</gender_field>                
            <placeholder_field>product-options-wrapper</placeholder_field>   
            <style_field>stylepit</style_field>     
        </easysize_group>      
    </easysize_section>
  </default>
   <admin>
      <routers>
          <myadmin>
              <use>admin</use>
              <args>
                  <module>Easysize_Webapp</module>
                  <frontName>easysize</frontName>
              </args>
          </myadmin>
      </routers>
    </admin>
    <adminhtml>
     <layout>
        <updates>
          <webapp>
            <file>webapp_admin.xml</file>
          </webapp>
        </updates>
      </layout>
     <menu>
       <test translate="title" module="adminhtml">
           <title>EasySize</title>
           <sort_order>100</sort_order>
           <children>
              <set_time>
                 <title>Overview</title>
                 <action>easysize/adminhtml_index</action>
              </set_time>
              </children>
           </test>
       </menu>

      </adminhtml>
    <global>
      <modules>
        <Easysize_Webapp>
          <version>1.0.1</version>
        </Easysize_Webapp>
     </modules>
      <blocks>
        <webapp>
            <class>Easysize_Webapp_Block</class>
          </webapp>
      </blocks>
      <helpers>
         <webapp>
              <class>Easysize_Webapp_Helper</class>
          </webapp>
      </helpers>
      <models>
        <webapp>
          <class>Easysize_Webapp_Model</class>
        </webapp>
      </models>

        <ressources>
          <webapp_write>
              <connection>
                  <use>core_write</use>
              </connection>
          </webapp_write>
          <webapp_read>
              <connection>
                  <use>core_read</use>
              </connection>
          </webapp_read>
        </ressources>
    </global>

    <frontend>
      <events>
        <controller_action_predispatch_checkout_cart_add>
            <observers>
                <webapp>
                     <class>webapp/observer</class>
                    <method>logCartAdd</method>
                </webapp>
            </observers>
        </controller_action_predispatch_checkout_cart_add>

         <sales_order_place_after>
            <observers>
              <webapp>
                <type>singleton</type>
                <class>webapp/observer</class>
                <method>checkoutObserver</method>
              </webapp>
            </observers>
           </sales_order_place_after>
        </events>
      <routers>
          <routeurfrontend>
              <use>standard</use>
              <args>
                 <module>Easysize_Webapp</module>
                 <frontName>webapp</frontName>
              </args>
           </routeurfrontend>
       </routers>
       <layout>
           <updates>
            <webapp>
              <file>webapp.xml</file>
            </webapp>
        </updates>
      </layout>
  </frontend>
   
</config>
