<!-- <?xml version="1.0" ?>
<config>
    <tabs>
        <easysize_tab translate="label">
            <label>EasySize Configuration</label>
            <sort_order>100</sort_order>
        </easysize_tab>
    </tabs>
    <sections>
        <easysize_section translate="label">
            <label>General</label>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <tab>easysize_tab</tab>
            <groups>
                <easysize_group translate="label">
                    <label>Configuration</label>
                   
                    <comment>Please fill the form with the code attribute corresponding to the value</comment>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1></expanded>
                    <fields>
                          <size_field translate="label">
                            <label>Size</label>
                            <comment>Size code attribut here</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>2</show_in_default>
                            <show_in_website>2</show_in_website>
                            <show_in_store>2</show_in_store>
                        </size_field>
                          <gender_field translate="label">
                            <label>Gender</label>
                            <comment>gender code attribut here</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>2</show_in_default>
                            <show_in_website>2</show_in_website>
                            <show_in_store>2</show_in_store>
                        </gender_field>        
                          <placeholder_field translate="label">
                            <label>Placeholder</label>
                            <comment>Default value : product-options-wrapper</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>2</show_in_default>
                            <show_in_website>2</show_in_website>
                            <show_in_store>2</show_in_store>
                        </placeholder_field>   
                        <id_shop_field translate="label">
                            <label>Your id shop</label>
                            <comment>Your id shop provided by EasySize</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>2</show_in_default>
                            <show_in_website>2</show_in_website>
                            <show_in_store>2</show_in_store>
                        </id_shop_field>        
                        <style_field translate="label">
                            <label>Style name</label>
                            <comment>Default value : sliding</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>2</show_in_default>
                            <show_in_website>2</show_in_website>
                            <show_in_store>2</show_in_store>
                        </style_field>                    
                    </fields>

                </easysize_group>
            </groups>
                       
        </easysize_section>
    </sections>
</config>
